@font-face {
  font-family: yugothic;
  src:  url(../ttf/yugothic-0-2.ttf);
}
@font-face {
  font-family: Britannic-Bold;
  src:  url(../ttf/Britannic-Bold.TTF);
}

.portfolio-title{
  font-family: Britannic-Bold;
}

body{
  font-family: yugothic;
  color:#4F4F4F;
}

.resume{
  color:#EF7878;
}

.resume:hover{
  color:#4F4F4F;
  background-color: #EF7878;
  font-weight:bold;
}

.works{
  color:#90C1DD;
}

.works:hover{
  color:#4F4F4F;
  background-color: #90C1DD;
  font-weight:bold;
}

.contact{
  color:#90DDA2;
}

.contact:hover{
  color: #4F4F4F;
  background-color:#90DDA2;
  font-weight:bold;
}

.portfolio-footer{
  margin-top: 10%;
}

.portfolio-photobox{
  display: flex;
  flex-direction: row-reverse;
}

.portfolio-photo {
  max-width: 300px;
  border: 0px;
  border-radius: 30px;
}

.portfolio-card{
  height: 100%;
}

.portfolio-title{
  height: 20%;
}

.portfolio-content{
  height: 60%;
}

.portfolio-button{
  height: 10%;
}